<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>Title</title>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/js/index.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="lib/element-ui/css/index.css">
</head>
<body>
<div id="app">
    <div>
        <ul>
            <li v-for="(item,index) in tableData">
                <el-row>
                    <el-col :span="3">
                        <el-tooltip class="item" effect="dark" :content="item.name" placement="top">
                            <div class="grid-content">{{item.name}}</div>
                        </el-tooltip>
                    </el-col>
                    <el-col :span="3"><div class="grid-content">按行为标签</div></el-col>
                    <el-col :span="4"><div class="grid-content">2017/04/12-2020/04/12</div></el-col>
                    <el-col :span="2"><div class="grid-content">app-pus</div></el-col>
                    <el-col :span="2"><div class="grid-content">ios</div></el-col>
                    <el-col :span="2"><div class="grid-content">500000</div></el-col>
                    <el-col :span="2">
                        <template>
                            <div v-if="item.gq=='true'">
                                124
                            </div>
                            <div v-else>
                                <el-switch
                                        v-model="item.status"
                                        on-text=""
                                        off-text=""
                                        on-color="#13ce66"
                                        off-color="#ff4949">
                                </el-switch>
                            </div>
                        </template>
                    </el-col>
                    <el-col :span="4"><div class="grid-content">13412345678</div></el-col>
                    <el-col :span="2">
                        <template >
                            <el-button v-show="!item.status" @click="del(index)">编辑</el-button>
                            <el-button>查看</el-button>
                        </template>
                    </el-col>
                </el-row>
            </li>
        </ul>
    </div>
    <div class="block">
        <span class="demonstration">直接前往</span>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage3"
                :page-size="2"
                layout="prev, pager, next, jumper"
                :total="table.length">
        </el-pagination>
    </div>
</div>
<script src="min/pagination.js"></script>
</body>
</html>